/* CSS默认样式设置*/
@import "modern-normalize";

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

*{
  box-sizing: border-box;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* 主要布局 */
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0;
    padding: 0;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: aqua;
    overflow: hidden;
}

aside h1{
    font-size: 50px;
    margin-top: 20vh;
}

aside form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

aside form label{
    font-size: 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

aside .checkBox{
    width: 100%;
    display: flex;
    gap: 30px;
}

aside .checkBox input{
    transform: scale(2);
    margin-left: 20px;
}

aside form input{
    height: 30px;
}

aside input[type="submit"]{
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
}

main{
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 100px;
    overflow-y: auto;
}

.card{
    background-color:lightskyblue;
    padding-bottom: 20px;
    padding-top: 10px;
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 2px gray;
}

.card h1{
    font-size: 30px;
}

.card .cardReadStatusBox{
    margin-top: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.card .cardReadStatus{
    color: greenyellow;
}

.card .cardReadStatusBox div{
    display: flex;
}

.delete{
    align-self:flex-end;
}